In [1]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
from scipy.stats.mstats import ttest_ind
from scipy.stats import f
import numpy as np
import statsmodels.formula.api as smf

In [2]:
from download import download
url = "https://www.data.gouv.fr/fr/datasets/r/6fadff46-9efd-4c53-942a-54aca783c30c"
path_target = "datasets/donnees-hospitalieres-nouveaux-covid19-2020-05-29-19h00.csv"
download(url, path_target, replace=False)

Replace is False and data exists, so doing nothing. Use replace==True to re-download the data.

'datasets/donnees-hospitalieres-nouveaux-covid19-2020-05-29-19h00.csv'

In [3]:
url="https://www.insee.fr/fr/statistiques/fichier/1893198/estim-pop-dep-sexe-gca-1975-2020.xls"
path_target="datasets/PopFrance2020"
download(url, path_target, replace=False)

Replace is False and data exists, so doing nothing. Use replace==True to re-download the data.

'datasets/PopFrance2020'

In [4]:
df_Covidfr = pd.read_csv('datasets/donnees-hospitalieres-nouveaux-covid19-2020-05-29-19h00.csv',sep = ';')

In [5]:
df_popFrance2020=pd.read_excel('datasets/PopFrance2020',sheet_name=1,skiprows=4,skipfooter=4, dtype={'Unnamed: 0':str}).rename(columns={'Unnamed: 0':'dep'})

In [6]:
ListeDep=np.sort(df_Covidfr['dep'].unique())

In [7]:
df_ParDepartement=pd.DataFrame(0,index=ListeDep,columns=['hosp','rea','dc','pop','ratio1','ratio2','ratio3','ratio4'])

for dep in ListeDep :
   df_ParDepartement.loc[dep,'hosp']=(df_Covidfr[(df_Covidfr['dep']==dep)]['incid_hosp']).sum()
   df_ParDepartement.loc[dep,'rea']=(df_Covidfr[(df_Covidfr['dep']==dep)]['incid_rea']).sum()
   df_ParDepartement.loc[dep,'dc']=(df_Covidfr[(df_Covidfr['dep']==dep)]['incid_dc']).sum()
   df_ParDepartement.loc[dep,'pop']=(df_popFrance2020[(df_popFrance2020['dep']==dep)]['Total']).sum()

In [8]:
df_ParDepartement.dtypes

hosp      int64
rea       int64
dc        int64
pop       int64
ratio1    int64
ratio2    int64
ratio3    int64
ratio4    int64
dtype: object

In [9]:
df_ParDepartement.loc['13']

hosp         4300
rea           677
dc            531
pop       2034469
ratio1          0
ratio2          0
ratio3          0
ratio4          0
Name: 13, dtype: int64

In [10]:
#ratio1 nombre de morts par millions d'habitants
df_ParDepartement['ratio1']=df_ParDepartement['dc']/df_ParDepartement['pop']*1000000
#ratio2 Nombre de dc par milliers d"hospitalisés
df_ParDepartement['ratio2']=df_ParDepartement['dc']/df_ParDepartement['hosp']*1000
#ratio3 Nombre de dc par centaines de cas de réa 
df_ParDepartement['ratio3']=df_ParDepartement['dc']/df_ParDepartement['rea']*100
#ratio4 Nombre de réa par centaine d'horpitalisés 
df_ParDepartement['ratio4']=df_ParDepartement['rea']/df_ParDepartement['hosp']*100

In [30]:
#calcul de la moyenne 
df_ParDepartement.mean()

hosp        1068.712871
rea          173.306931
dc           185.663366
pop       663997.059406
ratio1       235.555831
ratio2       156.657672
ratio3       111.305689
ratio4        16.060802
dtype: float64

In [31]:
#On compare avec les résultats dans le 13
df_ParDepartement.loc['13']

hosp      4.300000e+03
rea       6.770000e+02
dc        5.310000e+02
pop       2.034469e+06
ratio1    2.610018e+02
ratio2    1.234884e+02
ratio3    7.843427e+01
ratio4    1.574419e+01
Name: 13, dtype: float64

In [11]:
#on convertit en nombre entier pour la visibilité
df_ParDepartementEntier=df_ParDepartement.astype('int')

In [22]:
df_ParDepartementEntier['ratio1'].rank(method='min').loc['13']

70.0

In [23]:
df_ParDepartementEntier['ratio2'].rank(method='min').loc['13']

23.0

In [24]:
df_ParDepartementEntier['ratio3'].rank(method='min').loc['13']

25.0

In [25]:
df_ParDepartementEntier['ratio4'].rank(method='min').loc['13']

49.0

In [21]:
df_ParDepartementEntier.sort_values(by='ratio1').head(70)

     hosp  rea   dc      pop  ratio1  ratio2  ratio3  ratio4
974   142   19    1   859959       1       7       5      13
973    98    5    1   290691       3      10      20       5
48     24    2    1    76286      13      41      50       8
82     55   20    4   262618      15      72      20      36
09     46   10    3   152398      19      65      30      21
..    ...  ...  ...      ...     ...     ...     ...     ...
39    389   57   61   257849     236     156     107      14
26    711  134  132   520560     253     185      98      18
89    437   48   85   332096     255     194     177      10
18    304   35   76   296404     256     250     217      11
13   4300  677  531  2034469     261     123      78      15

[70 rows x 8 columns]

In [27]:
df_ParDepartementEntier.sort_values(by='ratio2').head(30)

     hosp  rea   dc      pop  ratio1  ratio2  ratio3  ratio4
974   142   19    1   859959       1       7       5      13
973    98    5    1   290691       3      10      20       5
48     24    2    1    76286      13      41      50       8
976   307   39   19   279471      67      61      48      12
2B    155   13   10   182258      54      64      76       8
09     46   10    3   152398      19      65      30      21
82     55   20    4   262618      15      72      20      36
24    178   14   13   408393      31      73      92       7
04    155   11   12   165197      72      77     109       7
66    370   90   35   479000      73      94      38      24
31    722  210   69  1400935      49      95      32      29
43    152   12   15   226901      66      98     125       7
23    108   33   11   116270      94     101      33      30
84    337   49   36   560997      64     106      73      14
47     93   13   10   330336      30     107      76      13
33   1317  223  153  1633440      93     116      68      16
45    839  202   98   682890     143     116      48      24
05    145   26   17   141756     119     117      65      17
64    263   46   31   683169      45     117      67      17
22    272   33   32   596186      53     117      96      12
85    337   47   40   683187      58     118      85      13
83   1059  160  130  1073836     121     122      81      15
972   113   28   14   358749      39     123      50      24
13   4300  677  531  2034469     261     123      78      15
61    297   27   38   276903     137     127     140       9
65    197   14   26   226839     114     131     185       7
12    177   16   24   278360      86     135     150       9
11    432   53   59   372705     158     136     111      12
15     71   19   10   142811      70     140      52      26
34    849  214  119  1176145     101     140      55      25

In [28]:
df_ParDepartementEntier.sort_values(by='ratio3').head(30)

     hosp  rea   dc      pop  ratio1  ratio2  ratio3  ratio4
974   142   19    1   859959       1       7       5      13
973    98    5    1   290691       3      10      20       5
82     55   20    4   262618      15      72      20      36
09     46   10    3   152398      19      65      30      21
31    722  210   69  1400935      49      95      32      29
23    108   33   11   116270      94     101      33      30
66    370   90   35   479000      73      94      38      24
971   123   46   21   376879      55     170      45      37
976   307   39   19   279471      67      61      48      12
45    839  202   98   682890     143     116      48      24
972   113   28   14   358749      39     123      50      24
48     24    2    1    76286      13      41      50       8
81    153   43   22   387898      56     143      51      28
15     71   19   10   142811      70     140      52      26
34    849  214  119  1176145     101     140      55      25
63    256   75   43   660240      65     167      57      29
05    145   26   17   141756     119     117      65      17
64    263   46   31   683169      45     117      67      17
33   1317  223  153  1633440      93     116      68      16
76   1066  255  178  1243788     143     166      69      23
84    337   49   36   560997      64     106      73      14
47     93   13   10   330336      30     107      76      13
2B    155   13   10   182258      54      64      76       8
40     92   17   13   411979      31     141      76      18
13   4300  677  531  2034469     261     123      78      15
69   4227  782  639  1876051     340     151      81      18
83   1059  160  130  1073836     121     122      81      15
14    469  101   83   691453     120     176      82      21
29    234   52   43   906554      47     183      82      22
06    962  215  178  1079396     164     185      82      22

In [29]:
df_ParDepartementEntier.sort_values(by='ratio4').head(50)

     hosp  rea    dc      pop  ratio1  ratio2  ratio3  ratio4
973    98    5     1   290691       3      10      20       5
10    943   61   137   309907     442     145     224       6
04    155   11    12   165197      72      77     109       7
65    197   14    26   226839     114     131     185       7
46    198   15    29   173166     167     146     193       7
24    178   14    13   408393      31      73      92       7
43    152   12    15   226901      66      98     125       7
02   1439  123   261   526050     496     181     212       8
90    720   58   177   140145    1262     245     305       8
07    652   54   109   326875     333     167     201       8
32    144   12    24   190040     126     166     200       8
27    339   29    79   600687     131     233     272       8
2B    155   13    10   182258      54      64      76       8
48     24    2     1    76286      13      41      50       8
61    297   27    38   276903     137     127     140       9
28    729   71   119   429425     277     163     167       9
12    177   16    24   278360      86     135     150       9
36    279   29    76   217139     350     272     262      10
60   1646  174   398   825077     482     241     228      10
53    229   23    44   305365     144     192     191      10
55    690   69   110   181641     605     159     159      10
71   1119  120   194   547824     354     173     161      10
89    437   48    85   332096     255     194     177      10
72    536   59    80   560227     142     149     135      11
18    304   35    76   296404     256     250     217      11
51   1405  162   259   563823     459     184     159      11
78   3074  366   496  1448625     342     161     135      11
22    272   33    32   596186      53     117      96      12
11    432   53    59   372705     158     136     111      12
95   3617  442   692  1248354     554     191     156      12
976   307   39    19   279471      67      61      48      12
47     93   13    10   330336      30     107      76      13
974   142   19     1   859959       1       7       5      13
42   1359  189   238   764737     311     175     125      13
52    447   61    81   169250     478     181     132      13
73    487   68    70   432548     161     143     102      13
85    337   47    40   683187      58     118      85      13
08    349   48    62   265531     233     177     129      13
93   5471  718   964  1670149     577     176     134      13
84    337   49    36   560997      64     106      73      14
39    389   57    61   257849     236     156     107      14
79    115   17    20   372627      53     173     117      14
41    411   60    65   327835     198     158     108      14
03    240   35    39   331315     117     162     111      14
44    846  120   144  1437137     100     170     120      14
94   6194  925  1128  1406041     802     182     121      14
21   1299  190   245   532886     459     188     128      14
68   3987  563   827   763204    1083     207     146      14
83   1059  160   130  1073836     121     122      81      15
13   4300  677   531  2034469     261     123      78      15